<div class="body-container mom-09">
    <div style="display: flex; flex-direction: column;" class="flex-box flex-66">
        <div id="map" class="flex-box flex-50"></div>
        <div class="flex-box flex-50" style="display: flex;">
            <div class="flex-box flex-100" style="display: flex;">
                <div id="byCategory" class="flex-box flex-50">

                </div>
                 <div id="bySubCategory" class="flex-box flex-50">

                </div>
            </div>
        </div>
    </div>
    <div style="display: flex; flex-direction: column;" class="flex-box flex-33">
        <div id="byMerchant" class="flex-box flex-100">

        </div>
    </div>
</div>