
/********************************************************/
ul.menu-list{
    list-style-image: none;
}
ul.menu-list a{
    color:beige;
    text-decoration: none;
}
ul.menu-list a.active{
    text-decoration: underline;
}

/********************************************************/