html,body{
    height: 100%;
    margin:0;
    font-family: 'Raleway', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}
.container{
    /*background: blanchedalmond;*/
    display: flex;
    flex-direction: column;
    height: 100%;
}
.heading{
    padding: 0 15px;
    background: #353A47;
    color:#F7C1BB;
    flex-grow:1;
}
.heading h2, .heading h1{
    margin: 10px 0;
}
.body-container{
    display: flex;
    flex-grow: 1;
    /*background: salmon;*/
}
ui-view, :host, .flex-container{
    display: flex;
    flex-grow:1;
}
#menu{
    flex-grow: 0; 
    flex-shrink:0; 
    flex-basis:250px; 
}
.menu{
    background: #353A47; 
    color: #F7C1BB;
}
.menu-item{
    padding: 10px 15px 0;
}
.menu-item.highlight{
    border: 1px solid wheat;
}

.chart-title text{
    text-anchor: middle;
    font-size: 1.2em;
}
.series path{
    /*stroke:blue;*/
    fill:none;
}
.target path{
    stroke:red;
    fill:none;
}
.area-plus{
    fill: salmon;
}
.plus.above, .minus.below{
    fill:#84B082;
}
.minus.above, .plus.below{
    fill:#885A5A;
}

/******************/
/* 48             */
/******************/

.bottom90 path{
    fill: #587D71;
    /*stroke:red;
    stroke-width: 1px;*/
}
.bottom90 text{
    fill: #F9ECCC;
}
.top10 path{
    fill: #F9ECCC;
    /*stroke:blue;
    stroke-width: 1px;*/
}
.top10 text{
    fill: #587D71;
}
.series text{
    font-size: 1.5em;
    text-transform: uppercase;
    text-anchor: middle;
}

/******************/
/* 42             */
/******************/
.clinton{
    fill:lightskyblue;
}
.trump{
    fill:lightcoral;
}
.other{
    fill: lightgreen
}
.undecided{
    fill: lightgray
}

/******************/
/* 40             */
/******************/
.legend>rect{
    fill: white;
    stroke: darkgray;
}
.country{
    fill:transparent;
    stroke: #999;
}
.legend text{
    font-size:10px;
}

/******************/
/* 32             */
/******************/
.legend-item text{
    font-size:11px;
}

.title{
    text-anchor: middle;
    font-size: 1.2em;
}
.heading-buttons{
    float:right;
}
.heading-button{
    background: rgba(255,255,255,0.1);
    float:left;
    margin: 15px;
    padding:10px;
    color:white;
    border: 1px solid rgba(255,255,255,0.5);
}

.legend-item.highlight{
    fill: lightgray;
}
.gridline{
    stroke:lightgray;
}

.mom-04 .year-series{
    fill: none;
}

.mom-06{
    background: #031927;
}
.mom-06 .chart{
    /*border: 1px solid white;*/
}
.mom-06 text{
    fill:#F9ECCC;
}
.mom-06 path.domain, .mom-06 .tick line{
    stroke:#F9ECCC;
}



/*************************/
.track, .track-inset{
    stroke-linecap: round;
}
.track{
    stroke:#000;
    stroke-width:10px;
    stroke-opacity: 0.3;
}
.track-inset{
    stroke:#ddd;
    stroke-width:8px;
}
.track-overlay{
    fill: none;
    stroke: none;
    stroke-width: 50px;
    cursor: pointer;
    pointer-events: stroke;
}
.slider .tick{
    font-size:.6em;
    text-anchor: middle;
    cursor: pointer;
}
.handle{
    fill:#ddd;
    stroke: #000;
    stroke-opacity: 0.3;
}